:root{
    /* --dark-body-color : #181818;
    --dark-main-color: #212020; */

    /* --dark-body-color : #28272B;
    --dark-main-color: #3B363F; */

    --dark-body-color : #141414;
    --dark-main-color: #1C1C1C;

    --light-body-color: #F3F5F6;
    --light-main-color: #FFFFFF;

    --blue: #4361EE;
    --light-blue: #4CC9F0;
    --red: #F21B49;
}

/* poner las variables de los colores */

body.darkmode{
    background-color: var(--dark-body-color);
    color: #FFFFFF;
}

.darkmode header{
    background-color: var(--dark-main-color);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.darkmode .social-media i{
    font-size: 1.7em;
    color: var(--light-blue);
    transform-origin: center;
    padding: 5px 7px;

    &:hover {
        background-color: var(--light-blue);    
        border-radius: 15%;
        color: var(--dark-main-color);
        transition: 0.3s all ease-in-out;
        transform: scale(1.5);
        cursor: pointer;
    }

    &:not(hover){
        transition: 0.3s all ease-in-out;
    }
}

.darkmode .box-about,.darkmode .box-tech,.darkmode .box-experience,.darkmode .box-projects,.darkmode .box-actual, .darkmode .box-contact, .darkmode .box-config{
    background-color: var(--dark-main-color);
}

.darkmode .box-about,.darkmode .box-contact,.darkmode .box-tech,.darkmode .box-experience,.darkmode .box-projects,.darkmode .box-actual, .darkmode .box-config{
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.darkmode .wrapper .tooltip {
    background: var(--light-main-color);
    color: var(--dark-main-color);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  }
  .darkmode .wrapper .tooltip::before {
    background: var(--light-main-color);
  }

  .darkmode .study-box-contain{
    border: 1px solid rgba(255, 255, 255, 0.1);

    background-color: var(--dark-body-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.darkmode .card-experience{
    background-color: var(--dark-body-color);
}
.darkmode .image-experience{
    background-color: var(--light-body-color);
}