@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html{
    margin: 0;
    padding: 0;
}

:root{
    --light-body-color : #F3F5F6;
    --light-main-color: #FFFFFF;

    --blue-text: #4361EE;
}
body{
    background-color: var(--light-body-color);

    transition: 1s;
}

header{
    background-color: var(--light-main-color);
    height: 70vh;
    margin: 2.5% 5.5%;
    border-radius: 1.5rem;
    color: var();
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    display: grid;
    grid-template-columns: 60% 40%;
    padding: 4%;

    transition: 0.5s;

    font-family: 'Bebas Neue', sans-serif;
}

/* .container-theme{
    display: grid;
    grid-template-columns: 50px 30%;
    justify-items: center;
    align-items: center;
} */
.container-left-side-header{
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
}
.hero-text{
    font-size: 3em;
    margin: 0;
}
.hero-imp-text{
    color: var(--blue-text);
}
.container-hero-header{
    height: 70%;
    position: relative;

    top: 25%;
}
.container-hero-header h1{
    margin-bottom: 0;
}
#mode-icon{
    width: 30px;
    cursor: pointer;

    position: relative;
    top: 0%;
    /* font-size: 2em;
    color: yellow; */
}

.social-media{
    width: 15%;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center; */
    display: flex;
    justify-content: space-between;
}