@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    margin: 0;
    padding: 0;

    overflow-x: hidden;

    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 6px;
    /* Ancho de la barra de desplazamiento */
}

/* Estilos para el riel de la barra de desplazamiento */
::-webkit-scrollbar-track {
    background-color: transparent;
    /* Color del riel de la barra de desplazamiento */
}

/* Estilos para el pulgar de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background-color: var(--blue);
    /* Color del pulgar de la barra de desplazamiento */
    border-radius: 10px;
    /* Bordes redondeados del pulgar */
    border-radius: 35px;
}

/* Cambiar el color del pulgar al pasar el ratón sobre él */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark-blue);
    transition: 0.5 all;
}

:root {
    --light-body-color: #E9EAEE;
    --light-main-color: #FFFFFF;

    --dark-body-color: #141414;
    --dark-main-color: #1C1C1C;

    --blue: #4361EE;
    --light-blue: #4CC9F0;
    --dark-blue: #3A0CA3;
    --red: #F21B49;
}

body {
    background-color: var(--light-body-color);

    transition: 1s;
}

header {
    background-color: var(--light-main-color);
    height: 70vh;
    margin: 2.5% 5.5%;
    border-radius: 1.7rem;
    color: var();
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    display: grid;
    grid-template-columns: 60% 40%;
    padding: 4%;

    transition: 0.5s ease;

    font-family: 'Bebas Neue', sans-serif;
}

/* .container-theme{
    display: grid;
    grid-template-columns: 50px 30%;
    justify-items: center;
    align-items: center;
} */
/* .container-left-side-header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} */
.hero-text {
    font-size: 3em;
    margin: 0;
}

.hero-imp-text {
    color: var(--blue);
}

.container-hero-header {
    height: 70%;
    position: relative;
    line-height: 1;
    top: 25%;
}

.container-hero-header p {
    font-size: 1.5em;
}

.roboto-text {
    font-family: 'Roboto', sans-serif;
}

.container-right-side-header {
    /* width: 100%; */

    display: flex;
    align-items: center;
    justify-content: center;
}

.nose img {
    /* background-color: var(--blue); */
    height: 70%;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100%;
}

#big-hero-text {
    /* margin-top: -4%; */
    letter-spacing: -0.01em;
    font-size: 5em;
}

#mode-icon {
    width: 30px;
    cursor: pointer;

    position: relative;
    top: 0%;
    /* font-size: 2em;
    color: yellow; */
}

.social-media {
    margin-left: -1%;
    width: 25%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    /* gap: 1%; */
}

.social-media i {
    font-size: 1.7em;
    color: var(--dark-blue);
    transform-origin: center;
    padding: 5px 7px;

    &:hover {
        background-color: var(--dark-blue);
        /* padding: 15%; */
        border-radius: 15%;
        color: white;
        transition: 0.3s all ease-in-out;
        /* font-size: 2.5em; */
        transform: scale(1.5);
        cursor: pointer;
    }

    &:not(hover) {
        transition: 0.3s all ease-in-out;
    }
}

.container-phrase-about {
    background-color: var(--blue);
    height: 20vh;
    margin: 2.5% 5.5%;
    border-radius: 1.7rem;
    box-shadow: 0 0 10px rgba(67, 97, 238, 0.8);
    /* position: sticky; */
    top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Bebas Neue', sans-serif;

}

#rotado {
    rotate: -90deg;
    font-size: 1.5em;
}

.title-about {
    font-size: 2.5em;
    letter-spacing: -0.01em;
}

.bento-about {
    /* background-color: var(--blue); */
    height: auto;
    margin: 2.5% 5.5%;
    border-radius: 1.7rem;

    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-auto-rows: 5rem;
    grid-gap: 1.25rem;
    position: relative;

    font-family: 'Bebas Neue', sans-serif;
}

.box-about {
    background-color: var(--light-main-color);
    border-radius: 1.5rem;
    grid-column: auto/span 8;
    grid-row: auto/span 4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    padding: 2rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* font-size: 1.1em; */
}

.study-container {
    margin-top: 1rem;
    
    /* display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(3, 5rem);
    grid-auto-rows: 5rem;
    grid-gap: 1rem; */

    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-auto-rows: 5rem;
    grid-template-rows: repeat(3, 5rem);
    grid-gap: 1rem;
}

.card-about{
    grid-column: auto/span 3;
    grid-row: auto/span 3;
    font-size: 1.1rem;
}

.box-school-card{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--light-main-color);
    grid-column: auto/span 4;
    grid-row: auto/span 2;

    border-radius: 1.5rem;
    text-align: center;
}

.box-uni-card{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: var(--light-main-color);
    grid-column: auto/span 7;
    grid-row: auto/span 3;

    border-radius: 1.5rem;
}

.study-container:nth-child(1) {
    border-radius: 1.5rem;
}

.study-box-contain {
    padding: 0.2rem 1rem 0.2rem;
    
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    /* text-align: center; */
    border-radius: 1rem;

    /* background-color: var(--light-body-color); */
    /* box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* &:hover {
        background-color: var(--blue);
        color: var(--light-main-color);
        border-radius: 10px;
        transform: scale(1.1);
        transition: all 0.2s ease;

        &.study-box-contain span {
            background-color: var(--light-main-color);
            border-radius: 1.2rem;
            padding: 0.1rem;
            color: var(--dark-main-color);
        }
    }

    &:not(:hover) {
        transition: all 0.3s ease-in-out;
    } */
}

.box-about p {
    margin: 0;
}

.study-box-contain p {
    margin: 1.5%;
}

/* .study-box-contain:nth-child(1) {
    border-radius: 1.5rem 0 0 1.5rem;
}
.study-box-contain:nth-child(2) {
    border-radius: 0 1.5rem 1.5rem 0;
} */

.box-tech {
    background-color: var(--light-main-color);
    border-radius: 1.5rem;
    grid-column: auto/span 4;
    grid-row: auto/span 4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem 1.5rem 1.4rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
    grid-gap: 1.2rem 1.2rem;
    position: relative;
    justify-content: center;
    place-items: center;
}

.hability-tech {
    grid-column: auto/span 4;
    font-size: 1.5em;
}

.bubble {
    /* background-color: var(--red); */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.image-bubble {
    width: 60%;
}

#bubble-html {
    background-color: #fb4315;

    &:hover {
        box-shadow: 0 0 15px rgba(251, 67, 21, 0.8);
        transform: scale(1.1);
        transition: all 0.2s ease;
    }

    &:not(:hover) {
        transition: all 0.3s ease;
    }
}

#bubble-css {
    background-color: #1572B6;

    &:hover {
        box-shadow: 0 0 15px rgba(21, 114, 182, 0.8);
        transform: scale(1.1);
        transition: all 0.2s ease;
    }

    &:not(:hover) {
        transition: all 0.3s ease;
    }
}

#bubble-react {
    background-color: #4AD5FF;

    &:hover {
        box-shadow: 0 0 15px rgba(74, 213, 255, 0.8);
        transform: scale(1.1);
        transition: all 0.2s ease;
    }

    &:not(:hover) {
        transition: all 0.3s ease;
    }
}

#bubble-js {
    background-color: #F7DF1E;

    &:hover {
        box-shadow: 0 0 15px rgba(247, 223, 30, 0.8);
        transform: scale(1.1);
        transition: all 0.2s ease;
    }

    &:not(:hover) {
        transition: all 0.3s ease;
    }
}

#bubble-sql {
    background-color: #939699;

    &:hover {
        box-shadow: 0 0 15px rgba(147, 150, 153, 0.8);
        transform: scale(1.1);
        transition: all 0.2s ease;
    }

    &:not(:hover) {
        transition: all 0.3s ease;
    }
}

#bubble-mongo {
    background-color: #07AC4F;

    &:hover {
        box-shadow: 0 0 15px rgba(7, 172, 79, 0.8);
        transform: scale(1.1);
        transition: all 0.2s ease;
    }

    &:not(:hover) {
        transition: all 0.3s ease;
    }
}

#bubble-java {
    background-color: #ED1A26;

    &:hover {
        box-shadow: 0 0 15px rgba(251, 67, 21, 0.8);
        transform: scale(1.1);
        transition: all 0.2s ease;
    }

    &:not(:hover) {
        transition: all 0.3s ease;
    }
}

#bubble-c {
    background-color: #7A3398;

    &:hover {
        box-shadow: 0 0 15px rgba(122, 51, 152, 0.8);
        transform: scale(1.1);
        transition: all 0.2s ease;
    }

    &:not(:hover) {
        transition: all 0.3s ease;
    }
}

#bubble-boots {
    background-color: #7E12F8;

    &:hover {
        box-shadow: 0 0 15px rgba(126, 18, 248, 0.8);
        transform: scale(1.1);
        transition: all 0.2s ease;
    }

    &:not(:hover) {
        transition: all 0.3s ease;
    }
}

#bubble-tail {
    background-color: #38BDF8;

    &:hover {
        box-shadow: 0 0 15px rgba(56, 189, 248, 0.8);
        transform: scale(1.1);
        transition: all 0.2s ease;
    }

    &:not(:hover) {
        transition: all 0.3s ease;
    }
}

#bubble-git {
    background-color: #F15233;

    &:hover {
        box-shadow: 0 0 15px rgba(241, 82, 51, 0.8);
        transform: scale(1.1);
        transition: all 0.2s ease;
    }

    &:not(:hover) {
        transition: all 0.3s ease;
    }
}

#bubble-vite {
    background-color: var(--light-body-color);

    &:hover {
        box-shadow: 0 0 15px rgba(243, 245, 246, 0.8);
        transform: scale(1.1);
        transition: all 0.2s ease;
    }

    &:not(:hover) {
        transition: all 0.3s ease;
    }
}

.wrapper .icon {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    list-style: none;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    /* left: 22.5%; */
    font-size: 14px;
    background: var(--dark-main-color);
    color: var(--light-main-color);
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: 1;
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: var(--dark-main-color);
    bottom: -4px;
    left: 50%;
    z-index: 1;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -55%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.box-contact {
    background-color: var(--light-main-color);
    border-radius: 1.5rem;
    grid-column: auto/span 4;
    grid-row: auto/span 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    display: flex;
    align-items: center;
    justify-content: center;

    /* padding: 2rem 1rem 1rem; */

}

/* .box-experience {
    background-color: var(--light-main-color);
    border-radius: 1.5rem;
    grid-column: 10/span 3;
    grid-row: 1/span 5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    padding: 1.6rem 1rem 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-experience{
    width: 100%;
    height: 100%;
    margin-top: 1.4rem;
    border-radius: 1rem;
    background-color: var(--light-body-color);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);

    display: grid;
    grid-template-rows: 25% 75%;
    justify-items: center;
    
    border: 1px solid rgba(0, 0, 0, 0.3);

    padding: 1rem 0 1rem;
}

.image-experience{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--light-main-color);
    width: 90%;
    height: 100%;
    border-radius: 0.5rem;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.text-experience{
    width: 100%;
    height: 100%;
    border-radius: 0 0 1rem 1rem;
    margin-top: 1rem;
}
.text-experience ul.tech-experience{
    margin-left: 0.7rem;
    padding: 0;
    font-size: 0.7rem;
}
.title-experience{
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
}
.text-inside-experience{
    padding-left: 1rem;
    padding-right: 0.5rem;
    font-size: 0.85rem;
}
ul.tech-experience li{
    display: inline;
    cursor: default;
    background-color: var(--light-main-color);
    color: var(--dark-main-color);
    padding: 1% 2%;
    border-radius: 0.2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.little-text{
    margin-top: 1rem;
    font-size: 0.7rem;
    width: 100%;
    text-align: center;
} */

/*.box-projects {
    background-color: var(--light-main-color);
    border-radius: 1.5rem;
    grid-column: 1/span 8;
    grid-row: 5/span 4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    padding: 2rem 1rem 1rem;

    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
        height: 8px;
        Ancho de la barra de desplazamiento
    }
    
    Estilos para el riel de la barra de desplazamiento 
    &::-webkit-scrollbar-track {
        background-color: transparent;
        Color del riel de la barra de desplazamiento 
    }
    
    Estilos para el pulgar de la barra de desplazamiento
    &::-webkit-scrollbar-thumb {
        background-color: var(--blue);
        Color del pulgar de la barra de desplazamiento
        border-radius: 10px;
        Bordes redondeados del pulgar
        border-radius: 35px;
    }
    
    Cambiar el color del pulgar al pasar el ratón sobre él
    &::-webkit-scrollbar-thumb:hover {
        background-color: var(--dark-blue);
        transition: 0.5 all;
    }
}*/
/* .container-cards-project{
    margin-top: 1%;
    display: flex;
    gap: 1rem;
    height: 100%;
    width: 500%;
}
.card-project{
    background-color: #07AC4F;
    width: 35vw;
    height: 90%;
    border-radius: 0.5rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
} */

.box-config{
    position: sticky;
    top: 30vh;
    background-color: var(--light-main-color);
    border-radius: 1.5rem;
    grid-column: auto/span 1;
    grid-row: 5/span 3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    display: flex;
    align-items: center;
    justify-content: center;
}

.box-actual {
    background-color: var(--light-main-color);
    border-radius: 1.5rem;
    grid-column: 9/span 4;
    grid-row: 6/span 3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    padding: 2rem 1rem 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-actual p {
    margin: 0;
}

.title-boxes {
    font-size: 1.5rem;
}

.actual-tech-container {
    margin-top: 1rem;
    display: grid;
    height: 100%;
    border-radius: 1.5rem;
    /* background-color: #07AC4F; */
    grid-template-columns: repeat(3, 1fr);

}

.card-first-tech {
    position: relative;
    display: inline-block;

    background-color: #F7DF1E;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    border-radius: 1.5rem 0 0 1.5rem;

    transform-origin: left center;
    font-size: 1.5rem;
    /* color: var(--light-main-color); */

    /*&:hover {
        background-color: #F7DF1E;
        box-shadow: 0 0 15px rgba(247, 223, 30, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.5);
        transition: all 0.4s ease;
    }

    &:not(:hover) {
        transition: all 0.4s ease;
    }


    &.card-first-tech:hover~.card-second-tech,
    &.card-first-tech:hover~.card-third-tech {
        filter: grayscale(100%);
        transition: all 0.5s ease;
    }

    &.card-first-tech:not(:hover)~.card-second-tech,
    &.card-first-tech:not(:hover)~.card-third-tech {
        filter: grayscale(0%);
        transition: all 0.5s ease;
    }

    &.card-first-tech:hover img {
        opacity: 0;
        transition: all 0.2s ease;
    }

    &.card-first-tech:not(:hover) img {
        opacity: 1;
        transition: all 1s ease;
    }

    &.card-first-tech:hover .actual-tech-text {
        opacity: 1;
        transition: all 0.2s ease;
    }*/
}



/* .actual-tech-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
} */


.card-second-tech {
    position: relative;
    display: inline-block;

    background-color: #4AD5FF;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    transform-origin: left center;
    font-size: 1.5rem;

    /*&:hover {
        background-color: #4AD5FF;
        box-shadow: 0 0 15px rgba(74, 213, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.5);
        transition: all 0.4s ease;
    }

    &:not(:hover) {
        transition: all 0.4s ease;
    }

    &.card-second-tech:hover~.card-first-tech,
    &.card-second-tech:hover~.card-third-tech {
        filter: grayscale(100%);
        transition: all 0.3s ease;
    }

    &.card-second-tech:not(:hover)~.card-first-tech,
    &.card-second-tech:not(:hover)~.card-third-tech {
        filter: grayscale(0%);
        transition: all 0.4s ease;
    }*/
}




.card-third-tech {
    background-color: #ff5d01;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    border-radius: 0 1.5rem 1.5rem 0;
    /* color: var(--light-main-color); */

    font-size: 1.5rem;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

.card-tech {
    position: relative;
    overflow: hidden;
    transition: filter 0.5s ease, color 0.5s ease;
}

.card-tech img {
    /* width: 100%; */
    /* height: auto; */
    transition: opacity 0.5s ease;
    animation: bounce 1s infinite;
}

.actual-tech-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.card-tech.hovered {
    filter: grayscale(0%);
}

.card-tech.hovered img {
    opacity: 0;
}

.card-tech.hovered .actual-tech-text {
    opacity: 1;
}

body:not(:hover) .card-tech {
    filter: grayscale(100%);
}

.box-contact p, .box-experience p, .box-projects p{
    margin: 0;
}

.box-projects{
    padding: 1.6rem;
}