@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    margin: 0;
    padding: 0;

    overflow-x: hidden;

    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 6px;
    /* Ancho de la barra de desplazamiento */
}

/* Estilos para el riel de la barra de desplazamiento */
::-webkit-scrollbar-track {
    background-color: transparent;
    /* Color del riel de la barra de desplazamiento */
}

/* Estilos para el pulgar de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background-color: var(--blue);
    /* Color del pulgar de la barra de desplazamiento */
    border-radius: 10px;
    /* Bordes redondeados del pulgar */
    border-radius: 35px;
}

/* Cambiar el color del pulgar al pasar el ratón sobre él */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark-blue);
    transition: 0.5 all;
}

:root {
    --light-body-color: #F3F5F6;
    --light-main-color: #FFFFFF;

    --dark-body-color: #141414;
    --dark-main-color: #1C1C1C;

    --blue: #4361EE;
    --light-blue: #4CC9F0;
    --dark-blue: #3A0CA3;
    --red: #F21B49;
}

body {
    background-color: var(--light-body-color);

    transition: 1s;
}

header {
    background-color: var(--light-main-color);
    height: 70vh;
    margin: 2.5% 5.5%;
    border-radius: 1.7rem;
    color: var();
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    display: grid;
    grid-template-columns: 60% 40%;
    padding: 4%;

    transition: 0.5s;

    font-family: 'Bebas Neue', sans-serif;
}

/* .container-theme{
    display: grid;
    grid-template-columns: 50px 30%;
    justify-items: center;
    align-items: center;
} */
/* .container-left-side-header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} */
.hero-text {
    font-size: 3em;
    margin: 0;
}

.hero-imp-text {
    color: var(--blue);
}

.container-hero-header {
    height: 70%;
    position: relative;
    line-height: 1;
    top: 25%;
}

.container-hero-header p {
    font-size: 1.5em;
}

.roboto-text {
    font-family: 'Roboto', sans-serif;
}

.container-right-side-header {
    /* width: 100%; */

    display: flex;
    align-items: center;
    justify-content: center;
}

.nose img {
    /* background-color: var(--blue); */
    height: 70%;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100%;
}

#big-hero-text {
    /* margin-top: -4%; */
    letter-spacing: -0.01em;
    font-size: 5em;
}

#mode-icon {
    width: 30px;
    cursor: pointer;

    position: relative;
    top: 0%;
    /* font-size: 2em;
    color: yellow; */
}

.social-media {
    margin-left: -1%;
    width: 25%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    /* gap: 1%; */
}

.social-media i {
    font-size: 1.7em;
    color: var(--dark-blue);
    transform-origin: center;
    padding: 5px 7px;

    &:hover {
        background-color: var(--dark-blue);
        /* padding: 15%; */
        border-radius: 15%;
        color: white;
        transition: 0.3s all ease-in-out;
        /* font-size: 2.5em; */
        transform: scale(1.5);
        cursor: pointer;
    }

    &:not(hover) {
        transition: 0.3s all ease-in-out;
    }
}

.container-phrase-about {
    background-color: var(--blue);
    height: 18vh;
    margin: 2.5% 5.5%;
    border-radius: 1.7rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* position: sticky; */
    top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Bebas Neue', sans-serif;

}

#rotado {
    rotate: -90deg;
    font-size: 1.5em;
}

.title-about {
    font-size: 2.5em;
    letter-spacing: -0.01em;
}

.bento-about{
    /* background-color: var(--blue); */
    height: auto;
    margin: 2.5% 5.5%;
    border-radius: 1.7rem;
    
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-auto-rows: 5rem;
    grid-gap: 1.25rem;
    position: relative;

    font-family: 'Bebas Neue', sans-serif;
}

.box-about{
    background-color: var(--light-main-color);
    border-radius: 1.5rem;
    grid-column: auto/span 4;
    grid-row: auto/span 4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box-tech{
    background-color: var(--light-main-color);
    border-radius: 1.5rem;
    grid-column: auto/span 4;
    grid-row: auto/span 3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1.5rem 3.5em;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
    /* grid-auto-rows: 5rem; */
    grid-gap: 0.5rem;
    position: relative;
    justify-content: center;
    place-items: center;
}
.hability-tech{
    grid-column: auto/span 4;
    font-size: 1.5em;
}
.box-contact{
    background-color: var(--light-blue);
    border-radius: 1.5rem;
    grid-column: 5/span 4;
    grid-row: auto/span 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.box-experience{
    background-color: var(--light-main-color);
    border-radius: 1.5rem;
    grid-column: 9/span 4;
    grid-row: 1/span 5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box-projects{
    background-color: var(--light-main-color);
    border-radius: 1.5rem;
    grid-column: 1/span 8;
    grid-row: 5/span 4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box-actual{
    background-color: var(--light-main-color);
    border-radius: 1.5rem;
    grid-column: 9/span 4;
    grid-row: 6/span 3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bubble{
    background-color: var(--red);
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.image-bubble{
    width: 60%;
}

#bubble-html{
    background-color: #fb4315;
}
#bubble-css{
    background-color: #1572B6;
}
#bubble-react{
    background-color: #4AD5FF;
}
#bubble-js{
    background-color: #F7DF1E;
}